@import 'gruvbox.css';

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
}

#workspaces button {
    padding: 0 4px;
    margin: 0 2px;
    background-color: transparent;
    color: @blue;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,#workspaces button.active {
    border-bottom: 2px solid @orange;
    color: @orange;
    border-radius: 0px;
}

#workspaces button.empty{
    color: @fg;
}

#workspaces button.empty.active{
    border-bottom: 2px solid @orange;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
}
#clock{
  color: @blue;
  border-bottom: 2px solid @blue;
}
#battery{
  color: @red;
  border-bottom: 2px solid @red;
}
#cpu{
  color: @green;
  border-bottom: 2px solid @green;
}
#network{
  color: @yellow;
  border-bottom: 2px solid @yellow;
}
#pulseaudio{
  color: @purple;
  border-bottom: 2px solid @purple;
}
#language{
  border-bottom: 2px solid @orange;
}
#tray{
  border-bottom: 2px solid @aqua;
}
